/* ol {
  color: green;
} */
body {
  color: red;
}
ol {
  color: green;
  background: red;
}
li {
  color: blue;
  background: black;
}
.yellow {
  color: yellow;
}
#special {
  color: purple;
}